/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.8;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: relative;
    z-index: 1000;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    padding: 10px 20px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #777;
}

/* Butonul de meniu (hamburger) pentru mobil */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.close-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

/* Hero Section with Video Background */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    z-index: 2;
}

.hero-buttons .btn {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
    background-color: #666;
}

/* Features Section */
.features {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-item {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.feature-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Popup Styles */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Lab Section - 3D Model */
.lab {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    perspective: 1000px;
}
.lab-image {
    max-width: 65%; 
    height: auto;   
    display: block;  
    margin: 40px auto; 
    transition: transform 0.3s; 
}
.lab-image:hover {
    transform: scale(1.05) rotateY(10deg);
}

#app-model {
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 20px;
}

.documentation {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
    position: relative; 
}

.documentation p {
    margin-bottom: 30px; 
}


.doc-buttons .doc-btn {
    margin: 20px;
    padding: 15px 30px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.doc-buttons .doc-btn:hover {
    background-color: #666;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-logo img {
    height: 50px;
}

.footer-links ul {
    list-style: none;
    display: flex;
}

.footer-links li {
    margin-left: 20px;
}

.footer-links a {
    color: white;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-links a:hover {
    background-color: #777;
}

.footer-social a img {
    height: 30px;
    margin-left: 10px;
    transition: opacity 0.3s;
}

.footer-social a img:hover {
    opacity: 0.8;
}

.footer-copyright {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
}

@media (min-width: 768px) { /* Ajustează lățimea minimă în funcție de nevoile tale */
    .resources-section ~ footer,
    .blogs-section ~ footer {
        position: sticky;
        bottom: 0;
        width: 100%;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header.sticky {
        position: relative;
    }
    header {
        justify-content: space-between;
    }
    
    .doc-buttons .doc-btn {
        margin: 0px;

    }
    .lab-image {
        max-width: 100%; 
    }
    .faq-container {
        padding: 20px 10px;
    }
    .blog-container {
        padding: 20px 10px;
    }
    .blogs-container {
        flex-direction: column;
    }

    .blog-card {
        flex: 1 1 100%;
    }
    .features-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        padding-top: 50px;
        z-index: 999;
    }
    .nav-links li {
        margin: 20px 0;
        text-align: left;
    }
    .nav-links a {
        display: block;
        padding: 15px 30px;
        background-color: transparent;
        font-size: 18px;
        width: 100%;
    }
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
    .close-menu {
        display: none;
        position: absolute;
        top: 15px;
        right: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 28px;
        cursor: pointer;
        z-index: 1001;
    }
    .close-menu.visible {
        display: block;
    }
    .nav-links.active ~ .close-menu {
        display: block;
    }

    /* Când meniul este activ */
    .nav-links.active {
        display: flex;
    }
    .logo {
        margin-right: auto; /* Logo-ul să rămână la stânga */
    }

    .footer-links ul {
        display: flex; /* Asigură-te că folosești flexbox */
        flex-direction: row-reverse;
        justify-content: space-between; /* Spațiu uniform între elemente */
        flex-wrap: wrap; /* Permite trecerea pe linii */
        width: 100%; /* Face nav-ul să ocupe întreaga lățime */
        padding: 0; /* Elimină marginea internă */
    }
    .footer-links li {
        flex: 1 1 30%; /* Permite elementelor să crească și să ocupe minimum 30% din lățime */
        margin: 5px; /* Spațiu între elemente */
        text-align: center; /* Center textul în fiecare element */
    }
    .footer-links a {
        display: block; /* Asigură-te că linkurile sunt blocuri */
        padding: 10px; /* Spațiu interior pentru linkuri */
        border-radius: 5px; /* Colțuri rotunjite */
        transition: background-color 0.3s; /* Efect de tranziție */
    }

    .footer-container {
        display: flex; /* Asigură-te că folosești flexbox */
        justify-content: center;
        flex-direction: column; /* Schimbă la coloană pentru o aliniere mai bună */
        flex-wrap: wrap;
        align-items: center;
    }
    
    .footer-social {
        margin-top: 20px;
    }
    .gallery-container {
        flex-direction: column;
        align-items: center;
    }

    .gallery-item {
        flex-basis: 100%;
    }
    .version-table table, 
    .version-table thead, 
    .version-table tbody, 
    .version-table th, 
    .version-table td, 
    .version-table tr {
        display: block;
        width: 100%;
    }
    
    .version-table thead tr {
        display: none;
    }
    
    .version-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }
    
    .version-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        font-weight: bold;
        color: #555;
    }
    .docs-container {
        flex-direction: column; /* Organizare verticală */
    }

    .docs-sidebar {
        top: auto; /* Resetare */
        flex: 1; /* Ocupă spațiu egal cu conținutul */
        width: 100%; /* Lățime completă */
    }

    .docs-content {
        flex: 1; /* Ocupă restul spațiului */
        width: 100%; /* Lățime completă */
    }
}

.download-section {
    padding: 20px;
    text-align: center; /* Aliniază conținutul în centru */
    background-color: #f9f9f9; /* Fundal deschis pentru secțiune */
}

.download-content {
    max-width: 800px; /* Lățime maximă pentru a restricționa lățimea conținutului */
    margin: 0 auto; /* Centrează secțiunea pe pagină */
}

h2 {
    font-size: 2em; /* Dimensiune mai mare pentru titlu */
    margin-bottom: 10px; /* Spațiu sub titlu */
}

.version-text {
    font-size: 1.2em; /* Dimensiune text pentru versiune */
    margin-bottom: 20px; /* Spațiu sub textul versiunii */
}

.app-image img {
    width: 100%; /* Imaginea se va adapta la lățimea containerului */
    max-width: 800px; /* Lățime maximă pentru imagine */
    height: auto; /* Întreține raportul de aspect */
    margin-bottom: 20px; /* Spațiu sub imagine */
}

.download-btn-container {
    margin: 20px 0; /* Spațiu de sus și jos pentru butonul de descărcare */
}

.download-btn {
    display: flex; /* Folosește flexbox pentru a alinia elementele */
    align-items: center; /* Centrează elementele vertical */
    justify-content: center; /* Centrează elementele orizontal */
    padding: 10px 20px; /* Spațiu interior pentru buton */
    background-color: #007bff; /* Culoare de fundal pentru buton */
    color: white; /* Culoarea textului */
    border-radius: 5px; /* Colțuri rotunjite */
    text-decoration: none; /* Elimină sublinierea */
    transition: background-color 0.3s; /* Efect de tranziție la hover */
}

.download-btn img {
    margin-left: 8px; /* Spațiu între text și pictogramă */
    width: 20px; /* Dimensiunea pictogramei */
    height: auto; /* Întreține raportul de aspect */
}

.download-btn:hover {
    background-color: #0056b3; /* Culoare mai închisă la hover */
}


.more-versions {
    margin-top: 30px; /* Spațiu de sus pentru secțiunea versiunilor suplimentare */
}

.more-versions ul {
    list-style-type: none; /* Elimină punctele de pe listă */
    padding: 0; /* Elimină padding-ul */
    align-items: center;
}

.more-versions li {
    margin: 5px 0; /* Spațiu între versiunile suplimentare */
}

.more-versions a {
    text-decoration: none; /* Elimină sublinierea link-urilor */
    color: #007bff; /* Culoare pentru link-uri */
}

.more-versions a:hover {
    text-decoration: underline; /* Subliniere la hover */
}

.resources-section {
    background-color: #f9f9f9; /* Culoare de fundal deschisă */
    text-align: center; /* Centrarea textului */
    height: 100vh;
}

.resources-section h2 {
    font-size: 2em; /* Dimensiunea titlului secțiunii */
    margin-bottom: 20px; /* Spațiu sub titlu */
}

.resources-table {
    display: flex; /* Folosește flexbox pentru a aranja coloanele */
    justify-content: center; /* Centrează coloanele orizontal */
    flex-wrap: wrap; /* Permite rânduri multiple */
}

.resources-column {
    flex: 1; /* Permite coloanelor să crească uniform */
    min-width: 200px; /* Lățime minimă pentru coloane */
    margin: 10px; /* Spațiu între coloane */
    background-color: #ffffff; /* Culoare de fundal albă pentru coloane */
    border-radius: 8px; /* Colțuri rotunjite */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Umbră ușoară */
    padding: 20px; /* Spațiu interior pentru coloane */
}

.resources-column h3 {
    font-size: 1.5em; /* Dimensiunea titlului coloanei */
    margin-bottom: 15px; /* Spațiu sub titlul coloanei */
}

.resources-column ul {
    list-style-type: none; /* Elimină marcajele pentru liste */
    padding: 0; /* Elimină marginea internă */
}

.resources-column li {
    margin: 10px 0; /* Spațiu între elementele listei */
}

.resources-column a {
    text-decoration: none; /* Elimină sublinierea */
    color: #007bff; /* Culoarea link-urilor */
    transition: color 0.3s; /* Efect de tranziție pentru hover */
}

.resources-column a:hover {
    color: #0056b3; /* Culoare mai închisă la hover */
}

.docs-section {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column; /* Organizare pe verticală pe ecrane mici */
    margin: 0 auto;
    max-width: 1200px; /* Lățime maximă */
    padding: 20px;
    background-color: #f4f4f4; /* Fundal */
    gap: 20px;
}

.docs-container {
    display: flex;
    flex-wrap: wrap; /* Flexibilitate pe ecrane mici */
    gap: 20px;
}

.docs-sidebar {
    flex: 1; /* Ocupă spațiu egal pe dispozitive mici */
    max-width: 100%; /* Se ajustează pe ecrane mici */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 20px;
    transition: all 0.3s ease; /* Tranziție pentru o experiență fluidă */
}

.docs-sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.docs-sidebar ul {
    list-style: none;
    padding: 0;
}

.docs-sidebar li {
    margin: 15px 0;
}

.docs-sidebar a {
    text-decoration: none;
    font-weight: 500;
    color: #007bff;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.docs-sidebar a:hover,
.docs-sidebar a.active {
    background-color: #007bff;
    color: #ffffff;
}

.docs-content {
    flex: 3; /* Conținutul principal să ocupe mai mult spațiu */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.doc-section {
    flex: 1;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.doc-section.active {
    display: block;
}

.doc-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.4s ease-in-out;
}

.doc-card h2 {
    font-size: 1.8em;
    color: #333333;
    margin-bottom: 10px;
}

.doc-card ul {
    margin-left: 20px;
}

.doc-card ul li {
    margin-bottom: 10px;
}

/* Animații */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.blogs-section {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    height: 100vh;
}

.blogs-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.blogs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.blog-card h3 {
    margin-top: 0;
    font-size: 22px;
}

.blog-card p {
    color: #666;
}

.read-more {
    color: #007bff;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Stil pentru containerul blogului */
.blog-post {
    flex: 1;
    padding: 40px 20px;
    background-color: #f4f4f9;
    color: #333;
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Stiluri pentru titluri și paragrafe */
.blog-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007bff;
}

.blog-container h2 {
    font-size: 26px;
    margin-top: 30px;
    color: #000000;
}

.blog-container h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #707070;
}

.blog-container p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

/* Stiluri pentru liste */
.blog-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.blog-container ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: #666;
}

/* Stiluri pentru linkuri */
.blog-container a {
    color: #007bff;
    text-decoration: none;
}

.blog-container a:hover {
    text-decoration: underline;
}

.faq-section {
    flex: 1;
    padding: 40px 20px;
    background-color: #f4f4f9;
    color: #333;
}

.faq-section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 20px;
    transition: all 0.3s ease;
}

.faq-item.active {
    background-color: #eaf5ff;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.faq-question:hover h3 {
    color: #007bff;
}

.faq-toggle {
    font-size: 24px;
    color: #007bff;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding-top: 15px;
}

.faq-answer p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Gallery Section */
.gallery {
    background-color: #222;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

/* Lightbox Overlay */
.lightbox-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* On top of everything */
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.lightbox-overlay.show {
    display: flex; /* Show the overlay with flex for centering */
}

.version-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.version-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

.version-table th,
.version-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.version-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.version-table img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: auto;
}

.version-table tbody td a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.version-table tbody td a:hover {
    text-decoration: underline;
}

.version-table .linux-info {
    font-style: italic;
    color: #888;
}